<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>
      NDMarket --beta0.0.1
    </ion-title>
      <ion-buttons end>
        <button (click)="clickSearchToggle()">
        <ion-icon name="search"></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-searchbar  animated *ngIf="toggled" (ionCancel) = "cancelSearch()" (ionInput) = triggerInput($event)>

  </ion-searchbar>  
  <div>
      <ion-grid>
        <ion-row>
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of items">
            <div class="image-container" (click)="openDetailPage(item)">
              <img class="rounded-corners" src="{{item.imageURL}}" width="100%">
              
              <span class="item_name"> <img class="avatar" src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
                {{item.name}}
              <span>{{item.price}}$</span>
              </span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    
    </div>


  <ion-fab bottom right>
      <button ion-fab (click)="addNewItem()">
        <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>
  
</ion-content>


<!-- <ion-menu [content]="mycontent">
    <ion-content>
      <ion-list>
        <p>Categories Placeholder</p>
      </ion-list>
    </ion-content>
  </ion-menu> -->
  
  <ion-nav #mycontent [root]="HomePage"></ion-nav>