page-favorites {
    ion-icon {
        font-size: 24px;
    }
    .image-container {
        min-height: 150px;
        background-size: cover;
        background-color:lightgray;
        border-radius: 15px;
        padding-bottom: 3px;
    }
    .rounded-corners{
        border-radius: 15px;
        margin-bottom: 3px;
    }
    span#item_name {
        display: flex;
        padding-bottom: 5px
        
    }
    span#item_span{
        font-size: 10px;
        text-align: right
    }
    .avatar{
        height: 25px;
        margin-left: 8px;
        border-radius: 50px;
        margin-top: 4px;
    }
    .user-detail {
        width: 300px;
        height: 100px;
        border: blue solid 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .user-detail>div {
        border: green solid 2px;
      }
      
      .user-detail .details {
        display: flex;
        flex-direction: column;
      }
        .user-detail__username {
            margin: 18px 16px 0px 10px;
            display: block;
            float: left;
            font-size: 10px;
            font-weight: 500;
        }
        .user-detail__role {
            margin: 18px 16px 0px 10px;
            display: block;
            font-size: 10px;
            font-style: normal;
            line-height: 13px;
            font-weight: 300;
        }
        .user-detail__avatar-circle {
            display: inline-block;
            margin: 8px 11px 0px 0px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px;
        }
        .user-detail__avatar {
            position: relative;
            font-size: 10px; 
        }

}
