<!--
  Generated template for the NewItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>New Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div text-center>
      <button ion-button icon-only center (click)="openCamera()" *ngIf="takenPhoto==false">
        <ion-icon color="dark" name = "camera"></ion-icon>  
      </button>
      <p *ngIf="takenPhoto" id="img"><img src="{{this.photofile}}"></p>
  </div>
  
  <div>
      <ion-item>
          <ion-label stacked>Name</ion-label>
          <ion-input [(ngModel)]="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>Description</ion-label>
            <ion-input [(ngModel)]="description"></ion-input>
        </ion-item>
  </div>

  <div text-center>
      <button ion-button center (click)="loading()">
        SUBMIT
      </button>
  </div>
</ion-content>
